<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Closing the Gap</title>
  <link rel="stylesheet" href="../css/agehealth.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../img/">
</head>
<body>
  <header>
    <div class="top-bar">
      <img src="../img/logo.png" alt="Logo" class="logo">
      <div class="auth-buttons">
          <button>Sign In</button>
          <button>Register</button>
      </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Age & Health</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Gap Analysis</a></li>
            <li><a href="#">How to use</a></li> 
        </ul>
    </nav>
  </header>

  <footer>
    <div>
      <h4>About</h4>
      <a href="#">Our vision</a><br />
      <a href="#">How to use</a><br />
      <a href="#">Contact us</a><br />
      <a href="#">Our Personas</a>
    </div>
    <div>
      <h4>Detailed View</h4>
      <a href="#">Age & Health</a><br />
      <a href="#">Education</a><br />
      <a href="#">Gap Analysis</a>
    </div>
    <div>
      <h4>Team HN-G01-JavaStudio-2025A</h4>
      <p>
        Uong Minh Duc<br />Tran Chi Thien<br />Luong Thuy Vy<br />Pham Duy Bao<br />Nguyen Hoang Tung
      </p>
    </div>
  </footer>
</body>
</html>
