<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Closing the Gap</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/how2use.css">
  <link rel="stylesheet" href="../img/">
</head>
<body>
  <header>
    <div class="top-bar">
      <img src="../img/logo.png" alt="Logo" class="logo">
      <div class="auth-buttons">
          <button>Sign In</button>
          <button>Register</button>
      </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Age & Health</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Gap Analysis</a></li>
            <li><a href="#">How to use</a></li> 
        </ul>
    </nav>
  </header>
  
  <div class="personas-wrapper">
    <div class="personas-inner">
      <p class="intro">
       Introducing our Personas
      </p>
      <section class="person">
       <div class="person-header">
        <img alt="Portrait of Minguel, a middle-aged person wearing glasses, smiling outdoors" height="80" src="https://storage.googleapis.com/a1aa/image/9de882c8-3650-458c-f58a-7b371df952a8.jpg" width="80"/>
        <h2 class="name">
         <span class="first-letter">
          M
         </span>
         inguel
        </h2>
       </div>
       <p class="quote">
        "I need better access to healthcare and education resources for my children's future."
       </p>
       <p class="subheading">
        Short description:
       </p>
       <ul>
        <li>
         Part-time community worker.
        </li>
        <li>
         32 years old.
        </li>
        <li>
         Married, two children.
        </li>
       </ul>
       <p class="subheading">
        Background:
       </p>
       <p class="text">
        Minguel lives in a remote area and works part-time in community services while raising two children. She is committed to improving her family's well-being but still facing challenges due to limited access to essential healthcare and education resources.
       </p>
       <p class="subheading">
        Needs:
       </p>
       <ul>
        <li>
         Understand the health and education gaps affecting Indigenous families, especially in rural areas.
        </li>
        <li>
         Use easy-to-read visuals and summaries to stay informed about national and local progress on key issues for her family.
        </li>
       </ul>
       <p class="subheading">
        Pain Points:
       </p>
       <ul>
        <li>
         Remote location restricts medical services.
        </li>
        <li>
         Struggles to find reliable learning resources.
        </li>
        <li>
         Limited experience using online platforms and resources.
        </li>
       </ul>
       <p class="subheading">
        Technology usage:
       </p>
       <ul>
        <li>
         Uses mobile devices occasionally for social news/information.
        </li>
        <li>
         Relies on community hubs and local networks for Internet access.
        </li>
       </ul>
      </section>
      <section class="person">
       <div class="person-header">
        <img alt="Portrait of Andy, a middle-aged man smiling indoors" height="80" src="https://storage.googleapis.com/a1aa/image/2e133d12-05be-491d-a106-3de7bd3cce34.jpg" width="80"/>
        <h2 class="name">
         <span class="first-letter">
          A
         </span>
         ndy
        </h2>
       </div>
       <p class="quote">
        "My mother is sick. I need to find a good and affordable hospital for my mother."
       </p>
       <p class="subheading">
        Short description:
       </p>
       <ul>
        <li>
         University professor.
        </li>
        <li>
         51 years old.
        </li>
        <li>
         Lives and cares for his 73-year-old mother, who is unwell.
        </li>
       </ul>
       <p class="subheading">
        Background:
       </p>
       <p class="text">
        Andy, a 51-year-old university professor, lives with and cares for his unwell 73-year-old mother. With intermediate tech proficiency and a strong value for ethical, culturally respectful representation, he seeks clear, digestible health data to identify better regional healthcare options and advocate for improved services.
       </p>
       <p class="subheading">
        Needs:
       </p>
       <ul>
        <li>
         Finds clear and culturally respectful data that shows how healthcare access and outcomes have changed over time.
        </li>
        <li>
         Understand where life expectancy and other health-related indicators have improved to make decisions for his mother's care.
        </li>
        <li>
         Access simple visual summaries that track progress in health services across regions, without needing to read through technical reports.
        </li>
       </ul>
       <p class="subheading">
        Pain Points:
       </p>
       <ul>
        <li>
         Overwhelmed by dense, technical government reports.
        </li>
        <li>
         Has difficulty locating data that connects national goals to real-world community impact.
        </li>
        <li>
         Technology usage:
        </li>
        <li>
         Comfortable using web applications for research and reporting.
        </li>
       </ul>
      </section>
      <section class="person">
       <div class="person-header">
        <img alt="Portrait of Karen, a woman wearing a headband, smiling outdoors" height="80" src="https://storage.googleapis.com/a1aa/image/0bffa49a-813b-4638-0f19-56cf1f456d99.jpg" width="80"/>
        <h2 class="name">
         <span class="first-letter">
          K
         </span>
         aren
        </h2>
       </div>
       <p class="quote karen">
        "I'm tired of looking at a screen of numbers in black and white. I need a tool as a web that can motivate me to do this job."
       </p>
       <p class="subheading">
        Short description:
       </p>
       <ul>
        <li>
         Government Policy Analyst.
        </li>
        <li>
         38 years old.
        </li>
        <li>
         Lives and cares for his 73-year-old mother, who is unwell.
        </li>
       </ul>
       <p class="subheading">
        Background:
       </p>
       <p class="text">
        Karen, a 36-year-old government policy analyst, is married with two children. Tech-savvy and ambitious, she struggles with eye issues from screen time. She needs a user-friendly tool to compare 2016 and 2021 Australian census data, visualize socioeconomic progress, and export clear reports to communicate findings to policymakers.
       </p>
       <p class="subheading">
        Needs:
       </p>
       <ul>
        <li>
         Visualize progress on selected socioeconomic outcomes with intuitive graphs and charts.
        </li>
        <li>
         Export clear summaries and detailed reports quickly and efficiently.
        </li>
        <li>
         Easily compare data between years from Australian censuses.
        </li>
       </ul>
       <p class="subheading">
        Pain Points:
       </p>
       <ul>
        <li>
         Have eye issues due to many years looking at the screen.
        </li>
        <li>
         Limited user-friendly tools for performing comparative analyses.
        </li>
        <li>
         Difficulty accessing and interpreting extensive census data across different years (2016, 2021).
        </li>
       </ul>
       <p class="subheading">
        Technology usage:
       </p>
       <ul>
        <li>
         Tech savvy.
        </li>
        <li>
         Prefers straightforward, interactive user interfaces for exploring purposes.
        </li>
       </ul>
      </section>
    </div>
  </div>
  <!-- Personas Section End -->

  <footer>
    <div>
      <h4>About</h4>
      <a href="#">Our vision</a><br />
      <a href="#">How to use</a><br />
      <a href="#">Contact us</a><br />
      <a href="#">Our Personas</a>
    </div>
    <div>
      <h4>Detailed View</h4>
      <a href="#">Age & Health</a><br />
      <a href="#">Education</a><br />
      <a href="#">Gap Analysis</a>
    </div>
    <div>
      <h4>Team HN-G01-JavaStudio-2025A</h4>
      <p>
        Uong Minh Duc<br />Tran Chi Thien<br />Luong Thuy Vy<br />Pham Duy Bao<br />Nguyen Hoang Tung
      </p>
    </div>
  </footer>
</body>
</html>
